.mySlides {
    display: flex;
    align-items: center; 
}

.slide-image {
    object-fit: cover;
    width: 100%;
    height: 60vh;
    min-height: 480px;
    vertical-align: middle;
}

.slideshow-container {
    position: relative;
}

.text-container {
    position: absolute;
    width: 100%;
    padding-left: 15vw;
    left: 0; 
    top: 50%; 
    transform: translate(0, -50%); 
}
.title-text {
    font-weight: var(--bs-font-black);
    font-size: var(--bs-font-56px);
    color: var(--bs-white);
    line-height: 115%;

}
.sub-title-text {
    margin-top: 26px;
    font-weight: var(--bs-font-light);
    font-size: var(--bs-font-20px);
    color: var(--bs-white);
}
.title-button {
    background-color: var(--bs-white);
    color: var(--bs-black);
    font-weight: var(--bs-font-medium);
    font-size: vaR(--bs-font-18px);
    border: 0px solid var(--bs-white);
    border-radius: 40px;
    margin-top: 30px;
    padding: 10px 25px;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--bs-white);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot-container {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: var(--bs-black-300);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--bs-white);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
@media screen and (max-width: 1024px) {
    .text-container {
        padding-left: 25vw;
    }
}
@media screen and (max-width: 600px) {
    .title-text ,
    .sub-title-text,
    .title-button-div{
        text-align: center;
    }
    .title-text {
        font-size: 9vw;
    }
    .sub-title-text {
        font-size: 3vw;
    }
    .text-container {
        padding: 0 0;
    }
}