.bg-img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.bg-img img {
    width: 100%;
    max-width: fit-content;
    height: 849px;
    object-fit: cover;
}