footer {
    padding: 3.5vh 10vw 3.5vh 10vw;
}
footer > * {
    display: inline;
    vertical-align: middle;
}
.grayscale-logo {
    filter: contrast(100%) grayscale(100%);
    width: 40px;
    height: 40px;
}
.footer-left {
    margin-left: 10px;
    color: var(--bs-black-500);
    font-weight: var(--bs-font-light);
}
.footer-right {
    float: right;
}

.footer-line {
    margin: 60px 7vw 0 7vw;
}