.top-container {
    width: 100%;
    height: 35px;
    margin-bottom: 8vh;
}

.top {
    display: flex;
    column-gap: 2vw;
    float: right;
    margin-top: 10px;
    margin-right: 5vw;
    font-weight: var(--bs-font-regular);
    font-size: var(--bs-font-13px);
}

.welcome {
    color: var(--bs-black-200);
    margin-right: 20px;
}

.signin,
.signup {
    color: var(--bs-black-600);
}

.menu {
    display: flex;
    margin-bottom: 15px;
    position: relative; /* 추가 */
}

.title {
    display: flex;
    align-items: center;
    margin-left: 9vw;
}

.nav-container {
    display: flex;
    align-items: end;
}

#logo {
    
}

#title-name {
    font-size: var(--bs-font-45px);
    font-weight: var(--bs-font-black);
    color: var(--bs-mainColor);
    margin-left: 15px;
    margin-right: 40px;
}

.item {
    width: auto;
    color: #000000;
    font-size: var(--bs-font-18px);
    font-weight: var(--bs-font-medium);
    margin-left: 3vw;
    margin-bottom: 15px;
}
#hamburger {
    visibility: hidden;
    width: 30px;
    height: 29px;
    position: absolute; /* 추가 */
    top: 20px; /* 맨 위에 위치 */
    right: 36px; /* 맨 오른쪽에 위치 */
}

/* tablet */
@media screen and (max-width: 1024px) {
    /* toggle 효과 추가하기 */
    .top-container{
        visibility: hidden;
        position: absolute;
        margin: 0px 0px;
    }
    .top, 
    .nav-container {
        visibility: hidden;
        position: absolute;
        float: left;
        flex-direction: column;
    }
    .title {
        margin: 3px 0px -10px 12px;
    }
    #hamburger {
        visibility: visible;
        cursor : pointer;
    } 
}

/* mobile */
@media screen and (max-width: 768px) {
    
}
