.top-container {
    width: 100%;
    height: 35px;
    margin-bottom: 8vh;
}

.top {
    display: flex;
    column-gap: 2vw;
    float: right;
    margin-top: 10px;
    margin-right: 5vw;
    font-weight: var(--bs-font-regular);
    font-size: var(--bs-font-10px);
}

.welcome {
    color: var(--bs-black-200);
    margin-right: 20px;
}

.signin,
.signup {
    color: var(--bs-black-600);
}

.menu {
    display: flex;
    margin-bottom: 15px;
    position: relative;
}

.title {
    display: flex;
    align-items: center;
    padding-left: 10vw;
    z-index: 5;
}

.nav-container {
    display: flex;
    align-items: end;
}


#title-name {
    font-size: var(--bs-font-45px);
    font-weight: var(--bs-font-black);
    color: var(--bs-mainColor);
    margin-left: 15px;
    margin-right: 40px;
}

.item {
    width: auto;
    color: #000000;
    font-size: var(--bs-font-16px);
    font-weight: var(--bs-font-medium);
    margin-left: 3vw;
    margin-bottom: 15px;
}

/* hamburger */
.nav-toggle {
    visibility: hidden;
}

#hamburger {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 36px;
    cursor: pointer;
    z-index: 2;
}


/* navbar */
.navbar-container {
    position: fixed;
    z-index: 4;
    background-color: var(--bs-white);
    width: 22em;
    bottom: 0;
    top: 0;
    padding-top: 80px;
    visibility: hidden;
}

.navbar-sign {
    display: inline-flex;
    margin: 1.4rem 0;
    padding-left: 4rem;
}

/* CSS */
.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--bs-mainColor);
    border-radius: 15px;
    color: var(--bs-mainColor);
    cursor: pointer;
    font-size: 14px;
    font-weight: var(--bs-font-medium);
    line-height: normal;
    min-height: 40px;
    margin-right: 10px;
    min-width: 0;
    outline: none;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 6.5rem;
    will-change: transform;
}

.button-28:hover {
    color: var(--bs-white);
    background-color: var(--bs-mainColor);
}

.fromLeft {
    display: inline-block;
    text-transform: uppercase;
}

.fromLeft:after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--bs-mainColor);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.fromLeft:hover:after {
    transform: scaleX(1);
}

.fromLeft:after {
    transform-origin: 0% 50%;
}

.fromFix {
    display: inline-block;
    text-transform: uppercase;
    content: '';
    border-bottom: solid 2px var(--bs-white);
    color: var(--bs-mainColor);
    font-weight: var(--bs-font-semibold);
}

main {
    border-top: var(--bs-black-100) solid 1px;
}

/* tablet */
@media screen and (max-width: 1024px) {
    /* toggle 효과 추가하기 */

    .top-container,
    .nav-container {
        visibility: hidden;
        position: absolute;
        float: left;
        margin: 0px 0px;
        flex-direction: column;
    }

    .title {
        position: fixed;
        background-color: var(--bs-white);
        padding: 7px 0 0 2vw;
    }
    #title-name {
        margin-left: 15px;
        margin-right: 0;
    }
    main {
        margin-top: 72px;
    }
    .welcome {
        margin: 0 0;
        padding: 0 0;
        font-size: var(--bs-font-13px);
    }

    .nav-toggle {
        position: fixed;
        visibility: visible;
        width: 100%;
        padding: 36px 0;
        background-color: var(--bs-white);
        margin: 0 0;
        z-index: 3;
        top: 0;
    }

    .top {
        width: 22em;
        padding: 0 2.2rem;
        margin: 4vh 0 0 0;

    }

    .nav-item {
        padding-top: 2rem;
        margin-left: 1.4rem;
    }

    .show-navbar {
        visibility: visible;
    }

    .hidden-navbar {
        visibility: hidden;
    }
}

/* mobile */
@media screen and (max-width: 600px) {
    .top {
        display: block;
        width: 100%;
        text-align: center;
        margin: -50px 0;
    }
    .navbar-container {
        width: 100%;
        margin-top: 70px;
        height: 25rem;
        text-align: center;
        border-bottom: var(--bs-black-100) solid 1px;
    }
    .fromLeft {
        display: inline-block;
        text-transform: none;
    }
    
    .welcome {
        font-size: var(--bs-font-16px);
    }
    .fromLeft:after {
        border-bottom: none;
        transform: none;
    }
    .navbar-sign {
        display: inline-flex;
        padding: 0 0;
    }
    .button-28 {
        font-size: 16px;
        min-height: 50px;
        width: 10rem;
    }
    .nav-item {
        width: 100%;
        text-align: center;
        margin: 0 0 ;
        padding: 0 0;
    }
    .item {
        margin: 5px 15vw;
        padding: 1rem 0;
        border-radius: 8px;
        border: var(--bs-mainColor) solid 1px;        
        color: var(--bs-mainColor);
        background-color: var(--bs-white);
    }
    .item:hover {
        background-color: var(--bs-mainColor);
        color: var(--bs-white);
    }
    .item:has(.fromFix) {
        background-color: var(--bs-mainColor);
    }
    .fromFix {
        border-bottom: none;
        color: var(--bs-white);
    }
    .nav-link {
        width: 100%;
    }
}