@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* color */
    --bs-mainColor: #3CB371;
    --bs-black-100: #BBBBBB;
    --bs-black-200: #959595;
    --bs-black-300: #848484;
    --bs-black-400: #6D6D6D;
    --bs-black-500: #5C5C5C;
    --bs-black-600: #4B4B4B;
    --bs-black-700: #434343;
    --bs-black-800: ;
    --bs-black: #000000;
    --bs-white: #ffffff;
    --bs-red: #DF4C4C;
    --bs-blue: #4F5EE4;
    /* font weight */
    --bs-font: 'Poppins', sans-serif;
    --bs-font-thin: 100;
    --bs-font-extralight: 200;
    --bs-font-light: 300;
    --bs-font-regular: 400;
    --bs-font-medium: 500;
    --bs-font-semibold: 600;
    --bs-font-bold: 700;
    --bs-font-extrabold: 800;
    --bs-font-black: 900;
    /* font size */
    --bs-font-13px: 0.813rem;
    --bs-font-18px: 1rem;
    --bs-font-20px: 1.1rem;
    --bs-font-45px: 2.813rem;
    --bs-font-56px: 3.5rem;
}

* {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: var(--bs-font);
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: inherit;
}

.top-container {
    width: 100%;
    height: 35px;
    margin-bottom: 8vh;
}

.top {
    display: flex;
    column-gap: 2vw;
    float: right;
    margin-top: 10px;
    margin-right: 5vw;
    font-weight: var(--bs-font-regular);
    font-size: var(--bs-font-13px);
}

.welcome {
    color: var(--bs-black-200);
    margin-right: 20px;
}

.signin,
.signup {
    color: var(--bs-black-600);
}

.menu {
    display: flex;
    margin-bottom: 15px;
}

.title {
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: end;
}

#logo {
    margin-left: 6vw;
}

#title-name {
    font-size: var(--bs-font-45px);
    font-weight: var(--bs-font-black);
    color: var(--bs-mainColor);
    margin-left: 15px;
    margin-right: 40px;
}

.item {
    width: auto;
    color: #000000;
    font-size: var(--bs-font-18px);
    font-weight: var(--bs-font-medium);
    margin-left: 3vw;
    margin-bottom: 15px;
}

/* slide */
.mySlides {
    display: none
}

.slide-image {
    object-fit: cover;
    width: 100%;
    height: 470px;
    vertical-align: middle;
}

.slideshow-container {
    position: relative;
    margin: auto;
}
.text-container {
    position: absolute;
    bottom: 85px;
    width: 100%;
    margin-left: 10vw;
}
.title-text {
    font-weight: var(--bs-font-black);
    font-size: var(--bs-font-56px);
    color: var(--bs-white);
    line-height: 115%;

}
.sub-title-text {
    margin-top: 26px;
    font-weight: var(--bs-font-light);
    font-size: var(--bs-font-20px);
    color: var(--bs-white);
}
.title-button {
    background-color: var(--bs-white);
    color: var(--bs-black);
    font-weight: var(--bs-font-medium);
    font-size: vaR(--bs-font-18px);
    border: 0px solid white;
    border-radius: 40px;
    margin-top: 30px;
    padding: 10px 25px;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot-container {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: var(--bs-black-300);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--bs-white);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}