.weekday.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 1rem;
    text-align: center;
    text-align: center;
    margin-left: 10vw;
    width: 40%;
}
.dates.date-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 0.9rem;
    text-align: center;
    margin-left: 10vw;
    width: 40%;
    /* height: 500px; */
}
.date.Witem {
    aspect-ratio: 10.51;     
    display: grid;    
    place-items: center; 
    /* border: 1px solid red; */
}
.left:hover,
.right:hover,
.month:hover {
    cursor: pointer;
}
