.btn_open {
    display: inline;
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 10px 15px;
    cursor: pointer;
}
.pop_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    font-size: 0;
    text-align: center;
    z-index: 1000;
}

.pop_wrap:after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.pop_wrap .pop_inner {
    display: inline-block;
    padding: 20px 30px;
    background: var(--bs-white);
    width: 300px;
    vertical-align: middle;
    font-size: 15px;
}
.btn_close {
    color: var(--bs-red);
    border: var(--bs-red) solid 1px;
    background-color: var(--bs-white);
    font-size: 1rem;
    margin-top: 40px;
    padding: 4px 4px;
}
.btn_close:hover {
    color: var(--bs-white);
    border: var(--bs-red) solid 1px;
    background-color: var(--bs-red);
}